body{
    /* background-color: #00b7ff; */
background-image: url("/src/imgs/bg.jpeg");
background-attachment: fixed;
background-position: center;
background-size: cover;
}

.inputSection{
    margin-bottom: 10px !important;
}